/* ####################################################################
#######################################################################
########################### INDEX.html ################################
#######################################################################
*/


* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Sulphur Point', sans-serif;

}

body {
    background-color: rgb(30, 0, 79);   
}

.first_page{
    overflow: hidden; 
}

.contain-vignets {
    position: relative;
    height:100vh;
    max-width: 100vw;
}

.contain-vignets a {
    text-decoration: none;
    display: block;
}

.vignet-left {
    position: absolute;
    width:100%;
    background-image: url("../images/anime.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    max-width: 100vh;
    height:30%;
    clip-path: polygon(0 0, 100% 0, 100% 38%, 0 100%);
    z-index: 100;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;

}



.vignet-left p {
    padding-left: 2%;
    padding-top: 4%;
    color: white;
    font-size: 2rem;
    margin:0%;
}


.vignet-centerL {
    position: absolute;
    background-image: url("../images/comics.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: 15%;
    background-repeat: no-repeat;
    width:100%;
    max-width: 100vh;
    top:21%;
    height:35%;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 71%);
    z-index:50;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.vignet-centerL p {
    padding-left: 60%;
    padding-top: 4%;
    color: white;
    font-size: 1.3rem;
    max-width: inherit;
}

.vignet-centerR {
    position: absolute;
    background-image: url("../images/videoGames.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: 15%;
    background-repeat: no-repeat;
    width:100%;
    max-width: 100vh;
    top:50%;
    height:30%;
    clip-path: polygon(0 0, 100% 33%, 100% 66%, 0 100%);
    z-index:50;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.vignet-centerR p {
    padding-left: 10%;
    padding-top: 4%;
    color: white;
    font-size: 2rem;
    max-width: inherit;
}

.vignet-right {
    position: absolute;
    background-image: url("../images/movie.jpg");
    background-size: cover;
    background-position:left;
    width:100%;
    max-width: 100vw;
    bottom:0%;
    height:30%;
    clip-path: polygon(0 48%, 100% 0, 100% 100%, 0 100%);
    z-index:50;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.vignet-right p {
    padding-left: 20%;
    padding-top: 10%;
    color: white;
    font-size: 2rem;
    max-width: inherit;
}

/* ##################################### 
Footer
################################################ */
.foot-container {
    background-color: #B896CC;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    margin-top:3%;
    height:10%;
}

.vignet-foot-container {
    width:100%;
    display: flex;
    padding-right: 5%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.RS {
    font-size: 3rem;
}
.foot-left{
    text-decoration: none;
    width:40%;

}

.mentionlegal {
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}

.MentLeg{
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 700;

}

.vignet-foot-container ul li {
    display:block;

}


.vignet-foot-container ul li a {
    text-decoration: none;
}


/* ##################################### 
MEDIA QUERIES 
################################################ */

@media screen and (min-width: 767px){
    .first_page {
        overflow: hidden;
    }

    .contain-vignets {
        width:100vw;
    }

    .vignet-left {
        clip-path: polygon(0 0, 39% 0, 100% 100%, 0 100%);
        background-position-x: -520px;
        height: 100vh;
        width:30%;
        margin:0%;
    }

    .vignet-left p {
        padding-left: 2%;
        padding-top: 4%;
        color: white;
        font-size: 2.5rem;
    }

    .vignet-centerL {
        clip-path: polygon(0 0, 100% 0, 73% 100%, 36% 100%);
        height:100vh;
        top:0%;
        left:20%;
        width:35%;
    }

    .vignet-centerL p {
        padding-left: 30%;
        padding-top: 4%;
        color: white;
        font-size: 1.5rem;
    }
  
    .vignet-centerR {
        clip-path: polygon(18% 0, 56% 0, 100% 100%, 0 100%);
        height:100vh;
        width:35%;
        top:0%;
        right:15%;
    }

    .vignet-centerR p {
        padding-left: 15%;
        padding-top: 4%;
        color: white;
        font-size: 3rem;
    }

    .vignet-right {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
        background-position-x: -350px;
        align-items: center;
        height:100vh;
        width:30%;
        top:0%;
        right:0%;
    }

    .vignet-right p {
        padding-top: 4%;
        padding-left:6rem;
        color: white;
        font-size: 2rem;
    }
}

@media screen and (min-width: 960px){


    .vignet-left{
        filter:grayscale(1);
        transform: scale(1,1);
        transition : filter 0.4s, transform 0.4s;
    }

    .vignet-left:hover {
        filter : grayscale(0);
        transform : scale(1.025,1.025);
    }


    .vignet-left p {
        padding-left: 5%;
        padding-top: 4%;
        color: white;
        font-size: 2rem;
    }

    .vignet-centerL, .nav-comics{
        filter: grayscale(1);
        transform: scale(1,1);
        transition : filter 0.4s, transform 0.4s;
    }

    .vignet-centerL:hover, .nav-comics:hover {
        filter : grayscale(0);
        transform : scale(1.025,1.025);
    }

    .comics-text{
        font-size: 3rem !important;
    }

    .vignet-centerL p {
        padding-left: 30%;
        padding-top: 4%;
        color: white;
        font-size: 2rem;
    }


    .vignet-centerR, .nav-video-games{
    filter: grayscale(1);
    transform: scale(1,1);
    transition : filter 0.4s, transform 0.4s;
    }

    .vignet-centerR:hover, .nav-video-games:hover {
        filter : grayscale(0);
        transform : scale(1.025,1.025);
    }

    .video-games-text{
        font-size: 3rem !important;
    }

    .vignet-centerR p {
        padding-left: 15%;
        padding-top: 4%;
        color: white;
        font-size: 2.5rem;
    }
    .vignet-right, .nav-movies{
        filter: grayscale(1);
        transform: scale(1,1);
        transition : filter 0.4s, transform 0.4s;
    }

    .vignet-right:hover, .nav-movies:hover {
        filter : grayscale(0);
        transform : scale(1.025,1.025);
    }

    .movies-text{
        font-size: 3rem !important;

    }

    .vignet-right p {
        padding-top: 4%;
        color: white;
        font-size: 2.5rem;
    }


}


/* ####################################################################
#######################################################################
########################### animexmanga.html ##########################
#######################################################################
*/
.contain-vignets-2 {
    position: relative;
    display:block;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
    height:20vh;
    max-width: 100vw;
}

.nav-comics {
    position:absolute;
    background-image: url("../images/comics_nav.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
    width:35%;
    height: 100%;
    left:0%;
    z-index:100;
    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
    background-color: chocolate;
}

.comics-text {
    color: white;
    font-size: 1.3rem;
    max-width: inherit;
}

.comics-text {
    padding-right: 15%;
}

.nav-video-games {
    position: absolute;
    background-image: url("../images/videogames_nav.png");
    background-size: cover;
    background-position-x: -110px;
    background-position-y: center;
    filter: grayscale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height: 100%;
    left:25%;
    z-index:10;
    background-color: green;
}

.video-games-text{
    color: white;
    font-size: 2rem;
    max-width: inherit;
}

.video-games-text {
    padding-right:25%;
}

.nav-movies {
    position: absolute;
    background-image: url("../images/movie_nav.png");
    background-size: cover;
    background-position-y:center;
    filter: grayscale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    height: 100%;
    right: 0%;
    z-index:100;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 100%);
    background-color: goldenrod;
}

.movies-text {
    padding-left:15%;
    color: white;
    font-size: 1.5rem;
    max-width: inherit;
}

.main_cont {
    padding: 3%;
}

.article_top{
    background-color: #594BA7;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 80%);
    padding: 5%;
    padding-left:0%;
    display: flex;
    flex-flow: row nowrap;
}

.article_mid{
    background-color:#D4BADC;
    clip-path: polygon(0 0, 100% 17%, 100% 89%, 0 100%);
    padding: 5%;
}

.article_bot{
    background-color:#392E98;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 89%);
    padding: 5%;
}

.article_text {
    flex-grow: 1;
    text-align: end;
    font-size: 0.9rem;
    padding: 3%;
    color:white;
}

.miniature{
    clip-path: polygon(0 0, 46% 0, 100% 100%, 0% 100%);
    background-color: burlywood;
    width:800px;
}
